{% extends "layout.html" %}
{% block body %}

<div class="mt-4 container d-flex justify-content-center">
    <h1 id="h1-registro">Números primos hasta n</h1>
</div>
  <div class="container d-flex justify-content-center">
    <form class="col-6" method="POST">
        <div class="form-group">
        <input type="number" name="n" class="form-control mt-3" placeholder="Introduzca el n">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
        {% if mensaje != ""%}
        <div class="alert alert-success mt-3" role="alert">
          {{ mensaje }}
        </div>
        {% endif %}
    </form>

  </div>

{% endblock %}